<div class="form__group field" [formGroup]="movie">
  <div class="form__title">Title</div>
  <input type="text" class="form__field" formControlName="title"/>
  <div class="form__title">Type</div>
  <div class="radio__buttons">
    <input type="radio" value="movie" formControlName="type">Movie
    <input type="radio" value="series" formControlName="type">Series
  </div>
  <div class="form__title">Year</div>
  <input type="text" class="form__field" formControlName="year"/>
</div>

<div class="buttons">
  <button class="button" (click)="fetchMovies()">Search</button>
  <button class="button" [routerLink]="['/']">Home</button>
</div>

<div class="table-movies">
  <ng-container *ngIf="movies.length > 0">
    <table>
      <tr>
        <th><h4>Title</h4></th>
        <th><h4>Year</h4></th>
        <th><h4>Type</h4></th>
        <th><h4>Poster</h4></th>
      </tr>
      <tr *ngFor="let item of movies">
            <td (click)="getOne(item.imdbID)">{{item.Title}}</td>
            <td class="center-table" (click)="getOne(item.imdbID)">{{item.Year}}</td>
            <td class="center-table" (click)="getOne(item.imdbID)">{{item.Type}}</td>
            <img class="center-table" src="{{item.Poster}}" alt="" width="50" height="50" (click)="getOne(item.imdbID)">
      </tr>
    </table>
  </ng-container>
    <div *ngIf="movies.length == 0" >
      <h1  class="no-result">No results</h1>
    </div>
</div>


