<div class="form__group field" [formGroup]="movie">
  <div class="form__title">Title</div>
  <input type="text" class="form__field" formControlName="title"/>
  <div class="form__title">Type</div>
  <div class="radio__buttons">
    <input type="radio" value="movie" formControlName="type">Movie
    <input type="radio" value="series" formControlName="type">Series
  </div>
  <div class="form__title">Year</div>
  <input type="text" class="form__field" formControlName="year"/>
</div>

<div class="buttons">
  <button class="button" (click)="fetchMovies()">Search</button>
  <button class="button" [routerLink]="['/']">Home</button>
</div>

<div class="table">
  <p-table *ngIf="movies.length > 0"
           [value]="movies"
           [paginator]=true
           [rows]="5"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
        <th>Poster</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movies>
      <tr>
        <td>{{ movies.Title }}</td>
        <td>{{ movies.Year}}</td>
        <td>{{ movies.Type }}</td>
        <img class="center-table" src="{{movies?.Poster}}" alt="N/A" width="50" height="50" (click)="getOne(movies.imdbID)">
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="no-result" *ngIf = "movies.length === 0">
  <h1>No result</h1>
</div>


