/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body{
  color: white;
  background-image: url("assets/images/background-picture.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  width: 99vw;
  height: 98.4vh;
  background-position: center center;
}

.buttons {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #000000;
    font-family: Arial;
    font-size: 26px;
    font-weight: 100;
    padding: 18px;
    background-color: #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: #E4E4E5;
      border: solid #7096C1 1px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      text-decoration: none;
    }
  }
}

$primary: #FFFFFF;
$secondary: #FFFFFF;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__field {
  font-family: inherit;
  width: 200px;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 20px;
}

.form__title{
  padding-bottom: 10px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


.radio__buttons{
  padding-top: 10px;
  font-size: 1.3rem;
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
