.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;


  .title {
    color: lightgray;
    font-family: RobotoBold;


    &--first {
      font-size: 100px;
      height: 100px;
      padding-bottom: 10px;
    }

    &--second {
      font-size: 50px;
      height: 50px;
    }

    &--description {
      font-size: 30px;
      height: 30px;
    }
  }
}
