.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    color: lightgray;
    font-family: RobotoBold;

    &--first {
      padding-top: 200px;
      font-size: 150px;
    }

    &--second {
      font-size: 80px;
    }

    &--description {
      font-size: 30px;
    }
  }


}
