.movie-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    object-fit: cover;
    padding-left: 20px;
  }

  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}


